/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Rubik Mono One', sans-serif;
}
/* intestazione */
nav{
  position: fixed;
  right: 0;
  margin: 20px 10px 0 0;
  z-index: 4;
}
nav a{
  border-radius: 50%;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
  background-color: white;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
  color: black;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 20px;
}
/* /intestazione */
/* corpo centrale */
.container{
  height: 100vh;
  position: relative;
}
.central_container{
  text-align: center;
  text-transform: uppercase;
  width: 35%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.central_container img{
  width: 100%;
}
.central_container h2{
  font-size: 2.1vw;
}
.first_shoe{
  background-color: red;
  color: yellow;
}
.second_shoe{
  background-color: green;
  color: yellow;
}
.third_shoe{
  background-color: yellow;
  color: green;
}
/* /corpo centrale */
